1.	Download two CSV files and place them in the data folder of your local Data Question 1 repository:
a. Gross Domestic Product (GDP) per capita: http://data.un.org/Data.aspx?d=WDI&f=Indicator_Code%3aNY.GDP.PCAP.PP.KD
o	DO NOT APPLY ANY FILTERS
o	rename the file to gdp_per_capita.csv
o	open it with a text editor (not Excel) and take a look
b. Percentage of Individuals using the Internet: http://data.un.org/Data.aspx?d=ITU&f=ind1Code%3aI99H
o	DO NOT APPLY ANY FILTERS
o	rename the file to internet_use.csv
o	open it with a text editor (not Excel) and take a look

2.	Create a Jupyter Notebook in the notebooks folder and name it UN_Data_Exploration.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

4.	At the bottom of your imports cell, use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

5.	Using the pandas read_csv() function, read the GDP dataset into your notebook as a DataFrame called gdp_df.
o	Take a look at the first 10 rows.
o	Look at the last 5 rows. Do you see a problem?
o	Redo the read_csv() call to correct this issue - do not modify the original csv file.

In [38]:
gdp_df = pd.read_csv('../data/gdp_per_capita.csv', skipfooter = )

In [39]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN
7     Afghanistan  2012  2075.491747              NaN
8     Afghanistan  2011  1904.559799              NaN
9     Afghanistan  2010  1957.029338              NaN

In [40]:
gdp_df.tail(5)

,Country or Area,Year,Value,Value Footnotes
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1991,3426.598094,NaN
6867,Zimbabwe,1990,3324.348171,NaN
6868,footnoteSeqID,Footnote,NaN,NaN
6869,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

6.	Drop the 'Value Footnotes' column, and rename the remaining columns to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [31]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [34]:
gdp_df.head()

  Country or Area  Year        Value
0     Afghanistan  2019  2065.036398
1     Afghanistan  2018  2033.779002
2     Afghanistan  2017  2058.383832
3     Afghanistan  2016  2057.062164
4     Afghanistan  2015  2068.265904

In [41]:
gdp_df.tail()

,Country or Area,Year,Value,Value Footnotes
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1991,3426.598094,NaN
6867,Zimbabwe,1990,3324.348171,NaN
6868,footnoteSeqID,Footnote,NaN,NaN
6869,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [35]:
gdp_df.rename(columns = {'Country or Area': 'Country', 'Value': 'GDP_Per_Capita'})

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2019     2065.036398
1       Afghanistan                                      2018     2033.779002
2       Afghanistan                                      2017     2058.383832
3       Afghanistan                                      2016     2057.062164
4       Afghanistan                                      2015     2068.265904
...             ...                                       ...             ...
6865       Zimbabwe                                      1992     3054.889178
6866       Zimbabwe                                      1991     3426.598094
6867       Zimbabwe                                      1990     3324.348171
6868  footnoteSeqID                                  Footnote             NaN
6869              2  Excludes South Sudan after July 9, 2011.             NaN

[6870 rows x 3 columns]

7.	How many rows and columns does gdp_df have? What are the data types of its columns? If any of the columns are not the expected types, figure out why and fix it.

In [36]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6870 non-null   object
 1   Year             6870 non-null   object
 2   Value            6868 non-null   float64
dtypes: float64(1), object(2)
memory usage: 161.1+ KB

In [37]:
gdp_df['Year'].astype(int)

ValueError: invalid literal for int() with base 10: 'Footnote'

8.	Which years are represented in this dataset? Take a look at the number of observations per year. What do you notice?

9.	How many countries are represented in this dataset? Which countries are least represented in the dataset? Why do you think these countries have so few observations?

10.	Create a new dataframe by subsetting gdp_df to just the year 2014. Call this new dataframe gdp_2014.

11.	Use .describe() to find the summary statistics for GDP per capita in 2014.

12.	Create a histogram of GDP Per Capita numbers for 2014 (you may wish to adjust the number of bins for your histogram). How would you describe the shape of the distribution?

13.	Find the top 5 counties and bottom 5 countries by GDP per capita in 2014.

14.	Now, return to the full dataset, gdp_df. Pivot the data for 1990 and 2017 (using the pandas .pivot_table() method or another method) so that each row corresponds to a country, each column corresponds to a year, and the values in the table give the GDP_Per_Capita amount. Drop any rows that are missing values for either 1990 or 2017. Save the result to a dataframe named gdp_pivoted.

15.	Create a new column in gdp_pivoted named Percent_Change. This column should contain the percent change in GDP_Per_Capita from 1990 to 2017. Hint: Percent change is calculated as 100*(New Value - Old Value) / Old Value.

16.	How many countries experienced a negative percent change in GDP per capita from 1990 to 2017?

17.	Which country had the highest % change in GDP per capita? Create a line plot showing this country's GDP per capita for all years from 1990 to 2017. Create another showing the country with the second highest % change in GDP. How do the trends in these countries compare?
Bonus: Put both line charts on the same plot.

18.	Read in continents.csv contained in the data folder into a new dataframe called continents. We will be using this dataframe to add a new column to our dataset.

19.	Merge gdp_df and continents. Keep only the countries that appear in both data frames. Save the result back to gdp_df.

20.	Determine the number of countries per continent. Create a bar chart showing this.

21.	Create a seaborn boxplot showing GDP per capita in 2014 split out by continent. What do you notice?

22.	Read in internet_use.csv into a DataFrame called internet_df. You will most likely get an error message when doing this - figure out what is going wrong and fix it. Take a look at the first and last five rows and make any corrections to your read_csv() call to fix this. Again, do not modify the original datasets.

23.	Drop the Value Footnotes column and then rename the columns to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

24.	How many rows and columns does this new dataset have? What are the types of its columns? Ensure that the Internet_Users_Pct column is a numeric data type and fix it if it is not.

25.	What is the first year that has a nonzero internet users percentage reported? What is the general trend in internet users percentage over the years. Pick a visualization that you think illustrates this trend well.

26.	Merge gdp_df and internet_df (on Country and Year) into a single DataFrame named gdp_and_internet_use. Keep only countries and years that appear in both tables.

Difficult Bonus: Do not attempt this part until you have completed all other portions of the data question. Some countries have slightly different names in the internet use and gdp dataframes. For example, the Central African Republic is "Central African Republic" in the gdp dataframe and "Central African Rep." in the internet use dataframe. Find as many instances like this as you can and resolve them so that when merging you keep the maximum number of countries possible.